form{
	background-color: blue;

	top:50% ;
	left:50% ;
	position: absolute;
	translate:-60% -60% ;
	border:1px solid black ;
	padding: 3rem;
	margin-top: 70px;
	width: 20%;
	box-shadow: 9px 9px 9px 2px;
	border-radius: 80px 80px 80px;
	height: 300px;
}
